<p>
  <b>Name:</b>
  <%=h @primary_business.name %>
</p>

<p>
  <b>Enbale:</b>
  <%=h @primary_business.enbale %>
</p>


<%= link_to 'Edit', edit_primary_business_path(@primary_business) %> |
<%= link_to 'Back', primary_businesses_path %>