

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心 - 开吃吧 - 网上订餐 - 大学生的订餐平台</title>
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/icon" />
    <link rel="stylesheet" type="text/css" href="../css/base.css?v4.1.7" />
    <link rel="stylesheet" type="text/css" href="../css/common.css?v4.1.7" />
    <link rel="stylesheet" type="text/css" href="../css/home.css?v4.1.7" />
    <link rel="stylesheet" type="text/css" href="../css/main.css?v4.1.7" />
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25141879-1']);
        _gaq.push(['_setDomainName', '.kaichiba.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body id="home">
    <form method="post" action="home.aspx" id="ctl00">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTY2MzE0Mjc1Mw9kFgICAQ9kFgRmD2QWBmYPDxYCHgtOYXZpZ2F0ZVVybAUbfi9wZXJzb25hbC9pVG9kYXlPcmRlci5hc3B4ZGQCAQ8WAh4FY2xhc3MFDG5vdGlmaWNhdGlvbhYEAgEPFgQeBXN0eWxlBQ1kaXNwbGF5Om5vbmU7Hglpbm5lcmh0bWwFATBkAgMPZBYCAgEPZBYEAgEPFgIeC18hSXRlbUNvdW50AgEWAmYPZBYCZg8VBgExDmNsYXNzPSdyZWFkZWQnFXN0eWxlPSdjb2xvcjojYjRiNGI0JxLorqLljZXmj5DkuqTmiJDlip8JMTDmnIgx5pelJ+aCqOWcqOmHkemTg+mjny4uLueahOiuouWNleaPkOS6pOaIkOWKn2QCAw8WAh4HVmlzaWJsZWhkAgIPFgIfAwXeBDxkaXYgY2xhc3M9J2xvZ2luX3JlZ2lzdCcgID48YSBocmVmPScjJyBjbGFzcz0nbG9nX2J0biByZWdpc3QgdXNlcl9sb2dpbmVkIFVzZXJOaWNrTmFtZSc+MTIzNDU2PC9hPjxkaXYgY2xhc3M9J2xheWVyX3RvcF9hY2NvdW50IGxheWVyX3RvcEluZm8gYnI0IHNoYWRvdyAnIHN0eWxlPSdkaXNwbGF5OiBub25lOyc+PHNwYW4gY2xhc3M9J2Fycm93Jz48L3NwYW4+PHVsPjxsaT48YSBocmVmPSdodHRwOi8va2FpY2hpYmEuY29tL3BlcnNvbmFsL2hvbWUuYXNweCcgY2xhc3M9J3RvcF9uMSc+5oiR55qE5biQ5oi3PC9hPjwvbGk+PGxpPjxhIGhyZWY9J2h0dHA6Ly9rYWljaGliYS5jb20vcGVyc29uYWwvaVRvZGF5T3JkZXIuYXNweCcgY2xhc3M9J3RvcF9uMic+6K6i5Y2V5Lit5b+DPC9hPjwvbGk+PGxpPjxhIGhyZWY9J2h0dHA6Ly9rYWljaGliYS5jb20vcGVyc29uYWwvc3lzTm90aWNlLmFzcHgnIGNsYXNzPSd0b3BfbjMnPuezu+e7n+WFrOWRijwvYT48L2xpPjxsaT48YSBocmVmPSdodHRwOi8va2FpY2hpYmEuY29tL0NvbW1vbVBhZ2UvYy5hc3B4P0NsZWFuVHlwZT0yJyBjbGFzcz0ndG9wX240Jz7pgIDlh7rnmbvlvZU8L2E+PC9saT48L3VsPjwvZGl2PjwvZGl2PmQCBA8WAh8EAgMWBmYPZBYCZg8VAyg8c3BhbiBjbGFzcz0ncmVucmVuJz7kurrkurrotKblj7c8L3NwYW4+Ceacque7keWumvIBPGEgaHJlZj0naHR0cHM6Ly9ncmFwaC5yZW5yZW4uY29tL29hdXRoL2F1dGhvcml6ZT9jbGllbnRfaWQ9MTUwMDQ1JnJlc3BvbnNlX3R5cGU9Y29kZSZyZWRpcmVjdF91cmk9aHR0cDovL2thaWNoaWJhLmNvbS90aGlyZHBhcnR5L1VzZXJDaGVja0Zyb21SZW5SZW4uYXNweCZkaXNwbGF5PWRpYWxvZyZzY29wZT1wdWJsaXNoX3NoYXJlK3B1Ymxpc2hfZmVlZCcgY2xhc3M9J2JpbmQnPue7keWumuiOt+WPljUwMOenr+WIhjwvYT5kAgEPZBYCZg8VAyA8c3BhbiBjbGFzcz0nUVEnPlFR6LSm5Y+3PC9zcGFuPgnmnKrnu5HlrppJPGEgaHJlZj0nL3RoaXJkcGFydHkvcXFsb2dpbi5hc3B4JyBjbGFzcz0nYmluZCc+57uR5a6a6I635Y+WNTAw56ev5YiGPC9hPmQCAg9kFgJmDxUDJzxzcGFuIGNsYXNzPSd3ZWlibyc+5b6u5Y2a6LSm5Y+3PC9zcGFuPgnmnKrnu5HlrppMPGEgaHJlZj0nL3RoaXJkcGFydHkvd2VpYm9sb2dpbi5hc3B4JyBjbGFzcz0nYmluZCc+57uR5a6a6I635Y+WNTAw56ev5YiGPC9hPmRk" />
</div>

    
<script src="http://kaichiba.com/js/frame/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/kcb/kcb_search.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/kcb/kcb_top_js.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/frame/jquery.cookie.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/kcb/kcb_recommendSup.js?v4.1.7" type="text/javascript"></script>
<script src="../js/frame/jquery.cookie.js" type="text/javascript"></script>
<div id="top">
    <div id="top_inner">
        <a class="logo" href="http://kaichiba.com/area/10140">
            <img src="http://kaichiba.com/image/tranlogo.png">
        </a>
        <ul class="top_NewNava">
            <li class="active"><a href="http://kaichiba.com/area/10140">开吃吧</a></li>
            <li><a href="http://kaichiba.com/t/10140">便宜吧</a></li>
            <li><a href="http://kaichiba.com/gift/index">积分商城</a></li>
            <li><a href="http://kaichiba.com/SupplierJoin/Supplier.aspx">商家加盟</a></li>
        </ul>
        <div id="top_quickmenu" class="quick_menu">
            <dl>
                <dd>
                    <a id="ctl01_MyOrderLink" class="MyOrderLink" href="iTodayOrder.aspx">我的订单</a>
                </dd>
                <dd class="all_mess">
                    <span id="ctl01_notification" class="notification"><b class="message_prompt">
                        &nbsp;</b> <span id="ctl01_num" class="num" style="display:none;">0</span>
                        <div id="ctl01_MessageContent" class="layer_top_account layer_top_Message br4 shadow " style="display: none">
                            <span class="arrow"></span>
                            <ul id="ctl01_MessageBox" class="MessageBox">
                                
                                        <li messagetype='1' class='readed'>
                                            <div>
                                                <div class="l">
                                                    <strong style='color:#b4b4b4'>
                                                        订单提交成功</strong></div>
                                                <div class="r">
                                                    10月1日</div>
                                            </div>
                                            <div>
                                                <div class="message">
                                                    您在金铃食...的订单提交成功</div>
                                                <div class="r">
                                                    <a href="#">[查看]</a></div>
                                            </div>
                                        </li>
                                    
                                
                                <li class="btn clearfix noPointer">
                                    <input class="setallmessage" type="submit" value="知道了" />
                                </li>
                            </ul>
                        </div>
                    </span>
                </dd>
                <dd id="ctl01_top_user" class="Newaccount"><div class='login_regist'  ><a href='#' class='log_btn regist user_logined UserNickName'>123456</a><div class='layer_top_account layer_topInfo br4 shadow ' style='display: none;'><span class='arrow'></span><ul><li><a href='http://kaichiba.com/personal/home.aspx' class='top_n1'>我的帐户</a></li><li><a href='http://kaichiba.com/personal/iTodayOrder.aspx' class='top_n2'>订单中心</a></li><li><a href='http://kaichiba.com/personal/sysNotice.aspx' class='top_n3'>系统公告</a></li><li><a href='http://kaichiba.com/CommomPage/c.aspx?CleanType=2' class='top_n4'>退出登录</a></li></ul></div></div></dd>
            </dl>
        </div>
        <div id="search" class="fr br3">
            <input id="keyword" type="text" onkeydown="enterIn(event)" value="搜索餐厅、美食" autocomplete="off" />
            <a class="serch_btn_a" href="javascript:searchClick();">搜索</a>
            <div class="searchRes" id="searchRes">
            </div>
        </div>
        <!--end of quickmenu-->
    </div>
</div>
<div class="shade" id="shade" style="display: none; opacity: 0.8; filter: alpha(opacity=80);">
    &nbsp;</div>
<div class="urgency_message" noticeid="" style="display: none">
    <div class="urgency_message_top">
        <h2 class="urgency_message_top_title">
            紧急通知</h2>
        <p class="urgency_message_show">
            您的电话<span id="UserPhone">15839382938</span>拨打不通，送餐员联系不上您，非常着急，请及时检查，保持电话畅通！！</p>
    </div>
    <div class="urgency_message_bottom">
        <a href="javascript:;" class="return_message">好的，我已经联系送餐员</a>
    </div>
</div>
<!--end of top-->
<input type="hidden" value="http://kaichiba.com/ajax" id="ajaxUrl" />

    <!--end of top-->
    <div id="wrap">
        <div id="school">
            <a href=""></a><a href="">[切换位置]</a> <span>/</span> <em>个人中心</em>
        </div>
        <!--end of header-->
        <div id="container" class="clearfix">
            <div class="shadow clearfix" id="pCenter">
                 <div id="pMenu" class="gray">
	<div class="border">
		<dl>
		<dt>个人中心</dt>
        <dd><a href="home.aspx"  class="n1">我的帐户</a></dd>
		<dd><a href="iAdd.aspx" class="n6">送餐信息</a></dd>
		<dd><a href="UpdatePassword.aspx" class="n10">修改密码</a></dd>
		</dl>
	</div>
	<div class="border">
		<dl>
		<dt>订单中心</dt>
        <dd><a href="iTodayOrder.aspx" class="n2">今日订单</a></dd>
		<dd><a href="iHistoryOrder.aspx" class="n3">历史订单</a></dd>
		<dd><a href="iComments.aspx" class="n4">订单评价</a></dd>
		</dl>
	</div>
	<div class="border">
		<dl>
		<dt>信息中心</dt>
        <dd><a href="sysNotice.aspx" class="n7">系统公告</a></dd>
		<dd><a href="iMessage.aspx" class="n8">网站反馈</a></dd>
		<dd><a href="iSupMessage.aspx" class="n9">餐厅留言</a></dd>
		</dl>
	</div>
	<div class="border promote" style="display:none">
		<dl>
		<dt>推广联盟</dt>
		<dd><a href="promotion.aspx" class="n11">我的推广</a></dd>
		<dd><a href="income.aspx" class="n12">效果收益</a></dd>
		</dl>
	</div>
</div>

                <div id="pAccount">
                    <div id="ac_info" class="acc_con">
                        <p class="ac_title">
                            个人信息</p>
                        <div class="ac_content">
                            <table>
                                <col class="info_title" />
                                <col class="info_con" />
                                <col class="info_title" />
                                <col class="info_con" />
                                <tr>
                                    <td>
                                        <b>我的帐号：</b>
                                    </td>
                                    <td>
                                        123456@126.com
                                    </td>
                                    <td>
                                        <b>我的昵称：</b>
                                    </td>
                                    <td>
                                        <p id="nickName" class="pos_relative">
                                            <span id="dispName"><a href="javascript:;" class="fr" id="chgName">修改昵称</a>123456</span>
                                            <span id="updateName" style="display: none">
                                                <input name="NewNickname" type="text" value="123456" id="NewNickname" />
                                                <input type="submit" name="btn_info" value="确认修改" onclick="return checkNickname();" id="btn_info" />
                                            </span><span id="success" class="tip_layer tl_right br6" style="display: none">修改成功！</span> <span class="tip_layer tl_error br6" style="display: none"
                                                    id="nicknameNotEmpty">昵称不能为空！</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>总积分：</b>
                                    </td>
                                    <td>
                                        <em class="fl">
                                            2010</em><span class="credit fr"><a href="../about/fIntegration"
                                                target="_blank">积分规则</a><a href="../gift/index" target="_blank">去兑换礼品</a></span>
                                    </td>
                                    <td>
                                        <b>绑定手机：</b>
                                    </td>
                                    <td>
                                        <span id='bindPhone' class="fl">未绑定手机</span><a class="fr click_bind" href="javascript:;" >去绑定</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>开吃点：</b>
                                    </td>
                                    <td>
                                        <em class="fl">
                                            0</em><em style='color:#F57543;display:none'>(其中0个将在过期)</em><a
                                                href="../about/fPoint" class="fr" target="_blank">了解开吃点</a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="accountBind" class="acc_con">
                        <p class="ac_title">
                            绑定信息<span class="tips">绑定第三方账号，拥有更方便的登陆方式，赢得开吃点和更多积分!</span></p>
                        <p class="BindDesc">
                            绑定社交账号，下单并分享成功后即可获得<span class="tip">5</span>个开吃点</p>
                        <div class="otherAccount">
                            <table>
                                <colgroup>
                                    <col width="200px" />
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>
                                            关联账号
                                        </td>
                                        <td>
                                            状态
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                            <tr>
                                                <td>
                                                    <span class='renren'>人人账号</span>
                                                </td>
                                                <td>
                                                    未绑定<a href='https://graph.renren.com/oauth/authorize?client_id=150045&response_type=code&redirect_uri=http://kaichiba.com/thirdparty/UserCheckFromRenRen.aspx&display=dialog&scope=publish_share+publish_feed' class='bind'>绑定获取500积分</a>
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td>
                                                    <span class='QQ'>QQ账号</span>
                                                </td>
                                                <td>
                                                    未绑定<a href='/thirdparty/qqlogin.aspx' class='bind'>绑定获取500积分</a>
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td>
                                                    <span class='weibo'>微博账号</span>
                                                </td>
                                                <td>
                                                    未绑定<a href='/thirdparty/weibologin.aspx' class='bind'>绑定获取500积分</a>
                                                </td>
                                            </tr>
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end of pAccount-->
            </div>
            <!--end of pCenter -->
            <div class="minLoginBg">
            </div>
        </div>
        <!--end of container-->
        <!--浮层-->
        <div class="minLogReg">
            <div class="bind_tit clearfix">
                <p class="bind_tit_left fl">
                    绑定手机</p>
                <a href="javascript:void(0);" class="close">关闭</a>
            </div>
            <div id="bind_advantage">
                <p>
                    绑定手机后，您可以：</p>
                <ul>
                    <li>1.获得1000积分</li>
                    <li>2.用手机号作为账号登录开吃吧</li>
                    <li>3.让账户变的更加安全</li>
                </ul>
            </div>
            <div id="bind_info">
                <p class="tel_number">
                    <label>
                        手机号码：</label>
                    <input type="text" value="" id="bind_phone" maxlength="11" />
                </p>
                <p class="g_valid">
                    <label>
                        <span>*</span>校验码：</label>
                    <input type="button" value="免费获取" id="request_valid" />
                    <input type="text" value="" id="input_valid" maxlength="6" />
                </p>
                <p class="telk_note">
                    校验码是6位数字</p>
                <p id="validTips">
                </p>
                <input type="button" value="绑定手机" class="bind_subBtn" onclick="bindmobile('float_show')" />
            </div>
        </div>
        <!--结束浮层-->
        
<div id="feedback_btn">
</div>
<div id="MsgHide" style="display: none;">
    <div id="feedbackTip">
        <label>
            小提示：催单请进入相应餐厅的页面进行留言，这样餐厅就能看见哦~</label>
        <textarea id="feedBackTipContent"></textarea>
    </div>
    <div id="isVisitor" style="display:none;">
        <label>
            您的邮箱(选填)</label>
        <input type="text" id="visitorMail" />
    </div>
    <p id="isUser">
        我们的回复将发到个人中心的“问题反馈”里，请注意关注，感谢您的建议。</p>
    <table class="msgVild fBackVali">
        <tr>
            <td>
                验证码：
            </td>
            <td>
                <input type="text" id="fBackValiDateCode" class="ValiDateCode fBackValiDateCode"
                    maxlength="4" style="width: 60px;" />
            </td>
            <td>
                  <div id="ValidateCode"></div>
            </td>
            <td>
                <span id="ValidateCodeClick_fBack" style="line-height: 24px;">更换验证码</span>
            </td>
            <td style="width: 102px;">
                <p class="validRs fBackValiRs">
                </p>
            </td>
        </tr>
    </table>

    <div class="___dialogBtn fBackBtn">
        <input type="button" class="dialogBtn feedBackBt" value="提交" />
        <input type="button" class="dialogBtn hover fCancelBt" value="取消" />
    </div>
</div>
<div id="footer">
    <p>
        <a href="http://kaichiba.com/about/fAbout" rel="nofollow">关于我们</a>|<a href="http://kaichiba.com/about/fRecruit"
            rel="nofollow">招贤纳士</a>|<a href="http://kaichiba.com/about/fHelp" rel="nofollow">帮助中心</a>|<a
                href="http://m.kaichiba.com" target="_blank" rel="nofollow">手机HTML5版</a>|<a href="http://wap.kaichiba.com"
                    target="_blank" rel="nofollow">手机WAP版</a>|<a href="http://shop.kaichiba.com"
                        target="_blank" rel="nofollow">餐厅登录</a>|<a href="http://blog.kaichiba.com" target="_blank">美食谭</a>
|<a href="http://ls.kaichiba.com" target="_blank">零食吧</a></p>
    <hr />
    <p>
         Copyright © 2011-2013 开吃吧 All Rights Reserved 京ICP备12015678号 | 京公网安备110114001132号</p>
</div>
<!--end of footer-->
<input name="ctl02$hid_IspromoteUser" type="hidden" id="hid_IspromoteUser" value="False" />
<script src="http://kaichiba.com/js/frame/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/frame/jquery.cookie.js" type="text/javascript"></script>
<script src="http://kaichiba.com/js/frame/jquery.XYTipsWindow.2.8.js" type="text/javascript"></script>
<script type="text/javascript">
    $().ready(function () {
        if ($("#hid_IspromoteUser").val() == "True") {
            $("#pMenu .promote").css("display", "block");
        }
        $("#ValidateCode").html("<img src='http://kaichiba.com/Code/ValidateCode.aspx?r=" + Math.random() + "'>");

        $("#ValidateCode,#ValidateCodeClick_fBack").click(function () {
            $("#ValidateCode").html("<img src='http://kaichiba.com/Code/ValidateCode.aspx?r=" + Math.random() + "'>");

        });
    });    
    
</script>
<script src="/js/kcb/kcb_common.js?v4.1.7" type="text/javascript"></script>


        <!--end of footer-->
    </div>
    <!--end of wrap-->
    </form>
    <script type="text/javascript" src="../js/personal/kcb_personal_home.js?v4.1.7"></script>
    <script type="text/javascript" src="../js/kcb/kcb_sendCheckCode.js?v4.1.7"></script>
    <script id="iDealKCBVisitRecord" src="http://kaichiba.com/VR/Scripts/iDeal.KCB.visitRecord.js?webId=2&channel=1&pageType=22"
        type="text/javascript"></script>
</body>
</html>
