<p id="notice"><%= notice %></p>

<p>
  <b>Order type:</b>
  <%= @number_manage.order_type %>
</p>


<%= link_to 'Edit', edit_number_manage_path(@number_manage) %> |
<%= link_to 'Back', number_manages_path %>
