<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>送餐信息 - 开吃吧 - 网上订餐 - 大学生的订餐平台</title>
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/icon" />
	<%= stylesheet_link_tag "base.css?v4.1.7" %>
	<%= stylesheet_link_tag "common.css?v4.1.7" %>
	<%= stylesheet_link_tag "home.css?v4.1.7" %>
</head>
<body id="iAdd">
	<%= yield %>
</body>
</html>